@model MvcCv.Models.Entity.education
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Eğitim Ekle</h4>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.title, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.subtitle1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.subtitle2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:blue" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>